<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Layout Editor</title>
    <link rel='stylesheet' href="style.css">
    <script src="https://unpkg.com/gojs/release/go-debug.js"></script>
    
  </head>
  <body>
    <div id="builder">
      <div style="width:100%; white-space:nowrap;">
        <span id='big' style="display: inline-block; vertical-align: top; float: left;">
            <div>
              <div id="myPaletteBig" style="width: 120px; height: 120px"></div>
            </div>
            <div class="icone" style="bottom: 222px;">
              <a onclick="undo()"><img src="../../assets/icon/undo.png"></a>
            </div>
            <div class="icone" style="bottom: 151px;">
              <a onclick="redo()"><img src="../../assets/icon/redo.png"></a>
            </div>
            <div class="icone" style="bottom: 83px;">
              <a onclick="location.reload()"><img src="../../assets/icon/refresh.png"></a>
            </div>
            <div class="icone" style="bottom: 13px;">
              <a onclick="save()"><img src="../../assets/icon/save.png"></a>
            </div>
          </div>
        </span>
        <span style="display: inline-block; vertical-align: top; width:80%">
          <div id="myDiagramDiv"></div>
        </span>
      </div>
    </div>
  </body>
  <script src ="renderer.js"></script>
</html>
