<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Main Window</title>
    <link rel='stylesheet' href="style.css">
    <script src="https://unpkg.com/gojs/release/go-debug.js"></script>
    
  </head>
  <body>
    <div id="builder">
      <div style="width:100%; white-space:nowrap;">
        <span id='big' style="display: inline-block; vertical-align: top; float: left;">
            <div>
              <div id="myPaletteBig" style="width: 120px; height: 120px"></div>
            </div>
          </div>
        </span>
        <span style="display: inline-block; vertical-align: top; width:80%">
          <div id="myDiagramDiv" style="border: 1px solid black; height: 1080px; --darkreader-inline-border-top:#8c8273; --darkreader-inline-border-right:#8c8273; --darkreader-inline-border-bottom:#8c8273; --darkreader-inline-border-left:#8c8273;" data-darkreader-inline-border-top="" data-darkreader-inline-border-right="" data-darkreader-inline-border-bottom="" data-darkreader-inline-border-left=""></div>
        </span>
      </div>
    </div>
  </body>
  <script src ="renderer.js"></script>
</html>
