<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Layout Editor</title>
    <link rel='stylesheet' href="style.css">
    <script src="https://unpkg.com/gojs/release/go-debug.js"></script>
    
  </head>
  <body>
    <div class="container">
      <div class="top">
        <div class="btncontain">
          <a class="btn" href="../layoutEditor/index.html">Create new layout</a>
        </div>
      </div>
      <hr>
      <div class="layouts">

      </div>
    </div>
  </body>
  <script src ="renderer.js"></script>
</html>
