<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Main Window</title>
    <link rel='stylesheet' href="style.css">
  </head>
  <body>
    <div id="main">
      <div id="container">
      </div>
      <div id="bottomright"></div>
    </div>
    <!-- Render part -->
    <script src="./renderer.js"></script>

    <!-- Server part -->
    <script src="../server/server.js"></script>
    <script src="../server/convert.js"></script>

    <!-- Plugin part -->
    <script src="../plugins/highlight.js"></script>
    <script src="../plugins/random.js"></script>
    <script src="../plugins/custom.js"></script>

  </body>
</html>
