<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Main Window</title>
    <link rel='stylesheet' href="style.css">
  </head>
  <body>
    <div id="main">
      <div id="container">
      </div>
      <div id="bottomright"></div>
    </div>
    <div id='icon-bar'>
      <a class="icon"><img src="../assets/icon/power.png" onclick="switchState()"></a>
      <a class="icon"><img src="../assets/icon/more.png" onclick="incbright()"></a>
      <a class="icon"><img src="../assets/icon/less.png" onclick="decbright()"></a>
      <a class="icon"><img src="../assets/icon/next.png" onclick="next()"></a>
      <a class="icon"><img src="../assets/icon/swap.png" onclick="swap()"></a>
      <a class="icon"><img src="../assets/icon/music.png"></a>
    </div>
    <!-- Render part -->
    <script src="./renderer.js"></script>

    <!-- Server part -->
    <script src="../server/server.js"></script>
    <script src="../server/convert.js"></script>

    <!-- Plugin part -->
    <script src="../plugins/highlight.js"></script>
    <script src="../plugins/random.js"></script>
    <script src="../plugins/custom.js"></script>

  </body>
</html>
