<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Main Window</title>
    <link rel='stylesheet' href="style.css">
  </head>
  <body>
    <div id="container">
      <div id="frame">
      
      </div>
    </div>
    <script src="./renderer.js"></script>

    <script src="../server/server.js"></script>
    <script src="../server/convert.js"></script>

    <script src="../plugins/highlight.js"></script>
    <script src="../plugins/random.js"></script>

    <script src="../plugins/custom.js"></script>
  </body>
</html>
