body {
    background-color: #9ba7ad;
}

body, #main {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.panel {
    background-color: #dadee1;
    height: 96px;
    width: 96px;
    color: white;

    border-width: 4px;
    border-color: White;
    border-style: solid;
    border-radius: 5px;
}

#container {
    position: relative;
    grid-column: 2;
    grid-row: 2;
    min-width: 1px;
    min-height: 1px;
}

#main {
    display: grid;
    justify-content: center;
}

#bottomright {
    grid-column: 3;
    grid-row: 3;
}